/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *

 */
@import url(reset.css);
/* line 1, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.auth-page {
  width: 800px;
}

/* line 5, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.subheader-container {
  border-top: 1px solid $purple;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;
}
/* line 12, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.subheader-container a {
  position: relative;
  top: -32px;
  text-decoration: none;
  border-bottom: 1px solid transparent;
  padding: 5px 10px;
  -webkit-transition-duration: 0.25s;
}
/* line 21, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.subheader-container a:first-child {
  margin-left: 50px;
}
/* line 25, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.subheader-container a:hover {
  background: $light-gray;
}
/* line 29, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.subheader-container .you-are-here {
  border-top: 2px solid #f60;
  border-left: 1px solid $purple;
  border-right: 1px solid $purple;
  border-style: outset;
  border-bottom: 1px solid $lightest-gray;
}

/* line 38, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.auth-form-container {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 30px 20px 20px 20px;
  align-items: center;
  margin: 100px 250px;
}
/* line 45, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.auth-form-container .auth-form {
  display: flex;
  flex-direction: column;
}
/* line 49, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.auth-form-container .auth-form input {
  border-bottom: 1px solid #024;
  margin: 10px;
  -webkit-transition-duration: 0.2s;
}
/* line 55, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.auth-form-container .auth-form input:hover {
  background: $light-gray;
}
/* line 59, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.auth-form-container .auth-form .session-button-container {
  display: flex;
  justify-content: flex-end;
  margin: 20px 10px 0px 10px;
}
/* line 64, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.auth-form-container .auth-form .session-button-container .session-button {
  margin: 0px;
}

/* line 73, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/auth_form.scss */
.error-list li {
  color: #f00;
  text-align: center;
}

/* line 1, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/navbar.scss */
.nav {
  display: flex;
  justify-content: space-between;
  background: #00E0FF;
  align-items: center;
}
/* line 7, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/navbar.scss */
.nav .home-link {
  flex: 1;
  margin-left: 20px;
  text-decoration: none;
  font-family: 'Oleo Script Swash Caps', cursive;
  color: $purple;
  font-size: 32px;
  -webkit-transition-duration: 0.4s;
}
/* line 17, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/navbar.scss */
.nav .home-link:hover {
  color: #030705;
}
/* line 21, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/navbar.scss */
.nav .greeting {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 3;
}
/* line 28, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/navbar.scss */
.nav .session-links {
  display: flex;
  justify-content: flex-end;
}
/* line 33, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/navbar.scss */
.nav .session-button {
  margin: 0px 10px;
}

/* line 5, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/static_pages.scss */
#root {
  width: 100%;
}

/* line 9, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/static_pages.scss */
body {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  color: #1455cc;
  background: $lightest-gray;
}

/* line 17, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/static_pages.scss */
.main {
  display: flex;
  justify-content: center;
}

/* line 22, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/static_pages.scss */
.session-button {
  padding: 5px 10px;
  border: 2px solid #6f7e99;
  border-radius: 5px;
  background: $lightest-gray;
  color: #ff7740;
  -webkit-transition-duration: 0.25s;
}

/* line 31, /Users/seanoreilly/Documents/AppAcademy/NodeItAll/app/assets/stylesheets/static_pages.scss */
.session-button:hover {
  background: #ff7740;
  color: $lightest-gray;
}
