.auth-page {
  width: 800px;
}

.login-tabs{
  justify-content: flex-start;
  margin-top: 80px;

  .tab:first-child {
    margin-left: 50px;
  }
}

.auth-form-container {
  border: 1px solid $purple;
  border-radius: 5px;
  padding: 30px 20px 20px 20px;
  align-items: center;
  margin: 100px 250px;

  .auth-form {
    display: flex;
    flex-direction: column;

    input {
      border-bottom: 1px solid #024;
      margin: 10px;
      -webkit-transition-duration: 0.2s;
    }

    input:hover {
      background: $light-gray;
    }

    .session-button-container {
      display: flex;
      justify-content: flex-end;
      margin: 20px 10px 0px 10px;

      .session-button {
        margin: 0px;
      }
    }
  }
}



.error-list li {
  color: #f00;
  text-align: center;
}
