.auth-page {
  width: 800px;
}

.subheader-container {
  border-top: 1px solid #9090d0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 50px;

  a {
    position: relative;
    top: -32px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    padding: 5px 10px;
    -webkit-transition-duration: 0.25s;
  }

  a:first-child {
    margin-left: 50px;
  }

  a:hover {
    background: #e2e2e2;
  }

  .you-are-here {
    border-top: 2px solid #f60;
    border-left: 1px solid #9090d0;
    border-right: 1px solid #9090d0;
    border-style: outset;
    border-bottom: 1px solid #f7f7f5;
  }
}

.auth-form-container {
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 30px 20px 20px 20px;
  align-items: center;
  margin: 100px 250px;

  .auth-form {
    display: flex;
    flex-direction: column;

    input {
      border-bottom: 1px solid #024;
      margin: 10px;
      -webkit-transition-duration: 0.2s;
    }

    input:hover {
      background: #e2e2e2;
    }

    .session-button-container {
      display: flex;
      justify-content: flex-end;
      margin: 20px 10px 0px 10px;

      .session-button {
        margin: 0px;
      }
    }
  }
}



.error-list li {
  color: #f00;
  text-align: center;
}
