$lightest-gray: #f7f7f5;
$light-gray: #eaeaea;
$gray: #ccc;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
// $light-blue: #6288a5;
// $blue: #326891;
// $dark-blue: #4d7b9f;
$darkest-blue: #265e8b;
//
//
// OUR COLORS
$dark-blue: #1455CC;
$blue: #6f7e99;
$light-blue: #bfeaef;
$light-orange: #FFc990;
$orange: #DD5F44;
$purple: #9090d0;
$light-purple: #ddddff;

$blue1: #131919;
$blue2: #233F3F;
$blue3: #226666;
$blue4: #0F8F8F;
$blue5: #00CDCD;

$purple1: #26242A;
$purple2: #3C324D;
$purple3: #482E74;
$purple4: #491999;
$purple5: #482E74;

$green1: #32372E;
$green2: #4F653D;
$green3: #609732;
$green4: #63C810;
$green5: #6AEB00;

$red1: #372F31;
$red2: #653E4A;
$red3: #983352;
$red4: #C81048;
$red5: #EB0047;

$yellow1: #3E3D34;
$yellow2: #726C45;
$yellow3: #AA9D39;
$yellow4: #E0C911;
$yellow5: #FFE200;
