$lightest-gray: #f7f7f5;
$light-gray: #eaeaea;
$gray: #bbb;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
// $light-blue: #6288a5;
// $blue: #326891;
// $dark-blue: #4d7b9f;
$darkest-blue: #265e8b;
//
//
// OUR COLORS
$dark-blue: #1455CC;
$blue: #6f7e99;
$light-blue: #bae4e8;
$light-orange: #FFc990;
$orange: #DD5F44;
$purple: #9090d0;
$light-purple: #ddddff;
