.form {

  h1 {
    font-size: 36px;
    text-align: center;
    margin: 40px 0px;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: $blue4;
  }

  input {
    border-bottom: 1px solid $blue;
    border-right: 1px solid $blue;
    border-radius: 5px;
    background: $lightest-gray;
    padding: 5px;
    margin: 10px 0px;
    flex: 1;
    transition-duration: 0.2s;
  }

  input:hover {
    background: $light-gray;
  }

  select {
    background: $lightest-gray;
    background-image: url(http://i62.tinypic.com/15xvbd5.png);
    border: none;
    border-bottom: 1px solid $blue;
    border-right: 1px solid $blue;
    border-radius: 5px;
    background-position: 94% center;
    background-repeat: no-repeat;
    color: $dark-gray;
    font-family: 'Montserrat', sans-serif;
    padding: 5px 10px;
    margin-bottom: 10px;
    transition-duration: 0.2s;
  }

  select:hover {
    background: $light-gray;
    background-image: url(http://i62.tinypic.com/15xvbd5.png);
    background-position: 94% center;
    background-repeat: no-repeat;
  }

  textarea {
    background-color: $lightest-gray;
    border-radius: 5px;
    padding: 5px;
    transition-duration: 0.2s;
    resize: none;
  }

  textarea:hover {
    background-color: $light-gray;
  }
}

.auth-form, .question-form, .answer-form {
  position: fixed;
  padding: 30px 20px 20px 20px;
  box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.5);
  transition: all .15s ease-in-out;
  background: $light-blue;
  border-bottom: 1px solid $blue;
  border-right: 1px solid $blue;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 30%;
}

.question-form, .answer-form {
  height: 64vh;
  min-height: 400px;

  h2 {
    font-size: 30px;
    margin-top: 20px;
    flex: 1;
    text-align: center;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: $blue4;
  }
}

.body-form {
  display: flex;
  flex: 10;
}

.plain {
  flex: 1;
  margin: 10px 0px;
  border-bottom: 1px solid $blue;
  border-right: 1px solid $blue;
}

.code {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px 0px 0px 10px;
  flex: 1;
  max-width: 47%;

  .code-text {
    border-bottom: 1px solid $blue;
    border-right: 1px solid $blue;
  }

  .highlight {
    flex: 1;
    display: flex;
    flex-direction: column;

    code {
      flex: 1;
    }
  }

  textarea {
    flex: 1;
  }
}

.submit-button-container {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;

  .button {
    margin-top: 10px;
    color: $green2;
  }

  .button:hover {
    background: $green4;
    color: $lightest-gray;
  }
}

.error-list li {
  color: #f00;
  text-align: center;
}

@media (min-width: 771px) and (max-width: 1100px) {

  .auth-form, .question-form, .answer-form {
    width: 32%
  }

  .body-form {
    flex-direction: column;
  }

  .plain {
    max-width: 100%;
    max-height: 20%;
  }

  .code {
    margin-left: 0px;
    max-width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 770px) {
  .auth-form, .question-form, .answer-form {
    position: unset;
    max-width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 470px) {
  .body-form {
    flex-direction: column;
  }

  .plain {
    max-width: 100%;
    max-height: 20%;
  }

  .code {
    margin-left: 0px;
    max-width: 100%;
  }
}
