.nav {
  display: flex;
  justify-content: space-between;
  background: $blue1;
  align-items: center;
  // border-bottom: 1px solid $blue1;
  // position: fixed;
  // z-index: 2;

  .home-link {
    flex: 1;
    margin-left: 20px;
    text-decoration: none;
    font-family: 'Oleo Script Swash Caps', cursive;
    color: $blue5;
    font-size: 36px;
    transition-duration: 0.4s;
  }

  .home-link:hover {
    background: $blue1;
    color: $green5;
  }

  .search-container {
    flex: 2;
    display: flex;
    justify-content: flex-start;

    .search-form {
      .search-button {
        margin-right: 10px;
        display: inline;
      }

      input {
        padding: 5px;
        background: $lightest-gray;
        color: $blue1;
        border-bottom: 1px solid $blue;
        border-right: 1px solid $blue;
        border-radius: 3px;
        display: inline;
        width: 200px;
        transition-duration: 0.2s;
      }

      input:hover {
        background: $light-gray;
      }
    }

    p {
      color: $orange;
      font-weight: bold;
      display: inline;
      margin-left: 20px;
      margin-top: 5px;
    }
  }



  .greeting {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 2;
  }

  .session-links {
    display: flex;
    justify-content: flex-end;
  }

  .session-link {
    margin: 0px 10px;
  }

  .login.button {
    color: $green2;
  }

  .login.button:hover {
    background: $green4;
    color: $lightest-gray;
  }
}
