.questions-index-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  width: 800px;

  .subheader-container {
    justify-content: space-between;

    .question-tabs {
      .tab {
        top: -42px;
      }

      .tab:last-child {
        margin-right: 50px;
      }
    }
  }

  .questions-index {
    position: relative;
    top: -52px;
    li {
      border-bottom: 1px solid $purple;
    }
  }
}

.question-index-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 70px;

  .item-counts {
    flex: 1;
  }

  .question-container {
    display: block;
    flex: 4;

    .question-title {
      font-size: 24px;
    }

    .author-info {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
