.questions-index-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;

  .questions-index {
    position: relative;
    top: -132px;
    li {
      border-bottom: 1px solid $purple;
    }
  }
}

.question-index-item {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  height: 70px;

  .item-counts {
    flex: 1;
  }

  .question-container {
    display: block;
    flex: 4;

    .question-title {
      font-size: 24px;
    }

    .author-info {
      margin-top: 20px;
      display: flex;
      justify-content: flex-end;
    }
  }
}
