.questions-index-container {
  margin-left: 6%;
  margin-right: 3%;

  .questions-index {
    border-radius: 5px;
    background: $light-gray;

    .question-index-item {
      border-bottom: 1px solid $purple;
    }
  }
}

.item-counts {
  display: flex;
  flex-direction: row;
  align-items: center;

  ul {
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    border: 1px solid $dark-blue;
  }

  .green {
    border-color: green;
    color: green;
  }

  .red {
    border-color: red;
    color: red;
  }

  .count {
    color: $dark-blue;
    font-weight: bold;
  }

  .answer-count {
    margin-right: 5px;
    margin-left: 10px;
    width: 60px;
  }

  .vote-count {
    margin-left: 5px;
    margin-right: 15px;
    width: 60px;
  }

  li {
    font-size: 12px;
  }
}

.question-index-item {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  min-height: 70px;

  .item-counts {
    flex: 1;
  }

  .question-container {
    flex: 4;

    .question-title {
      font-size: 18px;
      margin-right: 10px;
    }

    .author-info {
      margin-top: 36px;
      margin-right: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      font-size: 14px;

      p {
        display: inline;
      }

      .username {
        color: $orange;
      }
    }
  }
}
