// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#root {
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $dark-blue;
  background: $lightest-gray;
}

.main {
  display: flex;
  justify-content: center;

  .index {
    flex: 2;
  }

  .form {
      flex: 1;
  }
}

.button {
  padding: 5px 10px;
  border: 2px solid $blue;
  border-radius: 5px;
  background: $lightest-gray;
  color: $light-orange;
  -webkit-transition-duration: 0.25s;
}

.button:hover {
  background: $light-orange;
  color: $lightest-gray;
}
