// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#root {

}

header {
  background: $lightest-gray;
  position: fixed;
  z-index: 1;
  width: 100%;
}

.form {
  background: $lightest-gray;
  position: fixed;
  z-index: 1;
  height: 100%;
}

.subheader-container {
  margin-top: 40px;

}

.main {
  padding-top: 144px;
  // display: flex;
  // justify-content: space-between;

  .index {
    display: inline-block;
    width: 60%;
  }

  .form {
    display: inline-block;
    width: 40%
  }
}

body {
  margin-right: auto;
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  color: $dark-blue;
  background: $lightest-gray;
}

textarea {
  background-color: $light-gray;
  border-radius: 5px;
  padding: 5px;
}

code {
  border-radius: 5px;
  padding: 5px;
}

.hljs {
  overflow: hidden;
}


.button {
  padding: 5px 10px;
  border: 2px solid $blue;
  border-radius: 5px;
  background: $lightest-gray;
  color: $light-orange;
  -webkit-transition-duration: 0.25s;
}

.button:hover {
  background: $light-orange;
  color: $lightest-gray;
}
