.subheader-container {

  .subtitle-container {
    border-bottom: 2px solid $red4;
    width: 59%;
    min-height: 72px;
    flex: 3;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    color: $blue1;
    background-color: $lightest-gray;
    font-size: 42px;
    position: relative;
    padding: 10px 0px;
    flex: 1;
  }

  .subtitle{
    margin-top: 14px;
    font-size: 28px;
  }

  .tab {
    position: relative;
    top: 32px;
    height: 20px;
    text-decoration: none;
    padding: 5px 10px;
    transition-duration: 0.25s;
    color: $blue1;
  }

  .tab:hover {
    background: $light-gray;
  }

  .question-tabs {
    flex: 2;
    display: flex;
    justify-content: flex-end;
  }

  .you-are-here {
    background: $light-gray;
  }
}
