.subheader-container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  background: transparent;

  .subtitle-container {
    border-bottom: 2px solid $red4;
    width: 59%;
    min-height: 72px;
    flex: 3;
    display: flex;
    justify-content: space-between;
  }

  h1 {
    background: $lightest-gray;
    color: $blue1;
    font-size: 42px;
    position: relative;
    padding: 10px 0px;
  }

  .subtitle {
    margin-top: 14px;
    font-size: 28px;
  }

  .tab {
    position: relative;
    top: 32px;
    height: 20px;
    text-decoration: none;
    padding: 5px 10px;
    transition-duration: 0.25s;
    color: $blue1;
  }

  .tab:hover {
    background: $light-gray;
  }

  .question-tabs {
    display: flex;
    justify-content: flex-end;
  }

  .you-are-here {
    background: $light-gray;
  }
}

@media (min-width: 771px) and (max-width: 1100px) {
  .subheader-container .subtitle-container {
    margin-left: 20px;
    width: calc(59% - 20px);
  }
}

@media (min-width: 0px) and (max-width: 770px) {
  .subheader-container {
    border-bottom: 2px solid $red4;
    display: inline-block;
    width: 100%;

    .subtitle-container {
      width: 100%;
      border: none;
      flex-direction: column;

      h1 {
        margin-left: 20px;
      }

      .tab {
        top: 0px;
      }

      .question-tabs {
        margin-left: 20px;
        justify-content: flex-start;
      }
    }
  }
}
